<!-- your html code here -->

<div class="card mb-3 w-80" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="services.html" class=" rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="d-flex">
          <h5 class="card-title text-dark">The Second Heading</h5>
          <h5 class="card-title text-secondary">Is pretty Cool Too</h5>
          </div>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos eum provident fugit culpa eius velit hic suscipit numquam temporibus, ex esse sit, impedit similique deserunt, perferendis repellat quis? Fugiat, possimus?</p>
          
        </div>
      </div>
    </div>
  </div>